@import "@styles/responsive.scss";

.live-extraInfo {
  display: grid;
  justify-items: center;
  align-items: center;

  width: 100%;
  
  @include desktop {
    grid-template-columns: 60% 40%;
  }
}
