@import "@styles/responsive.scss";

header {
  width: 100%;
  margin-bottom: 2.8em;

  .header-container {
    display: grid;

    grid-template-columns: 20% 80%;

    padding: 0.5em 0;

    z-index: 2;
    position: relative;

    h1 {
      margin: 0;
      margin-left: 0.2em;
    }

    .header-navBar {
      align-self: center;
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      padding-top: 1em;
      align-self: flex-start;

      @include desktop {
        padding-top: 0;
        align-self: center;
      }

      a {
        color: white;
      }
    }
  }

  .header-light {
    padding: 4.5em 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10em;
    font-size: 0.6em;

    position: absolute;
    top: 0;
    z-index: 1;

    .header-light__time {
      margin-left: 1.2em;
      opacity: 50%;
      margin-top: 1.5em;
    }

    .header-light__plantName {
      margin-right: 2em;
      margin-top: 2em;

      font-size: 250%;
      opacity: 50%;

      @include desktop {
        margin-right: 5em;
        margin-top: 0.5em;
      }
    }

    @include desktop {
      font-size: 100%;
      padding: 2.2em 0;
    }
  }

  .lightTime {
    background: linear-gradient(180deg, #ff00d4ab 0, #00d4ff00 100%);
    animation: entryAnimation 1s;
    .header-light__time {
      color: #ff0062;
    }
  }

  .nightTime {
    background: linear-gradient(180deg, #0044ff6c 0, #00d4ff00 100%);
    animation: entryAnimation 1s;

    .header-light__time {
      color: #00eeff;
    }
  }

  @keyframes entryAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
}
